* {
  box-sizing:border-box;
}

.container {
  overflow: hidden;
  list-style: none;
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

.tshirt {
  position: relative;
}

li.tshirt {
  float:left;
  width: 30%;
  margin: 15px;
  position: relative;
}

.shirtPic {
  width: 100%;
  height: auto;
  padding: 10% 10% 30% 10%;
  position: relative;
  border: 2px solid #80BBE5;

}

.flip  {
  position: absolute;
  right: 0;
  padding: 5px;
  border: 2px solid #80BBE5;
  color:#80BBE5;
}

.name {
  float: left;
  margin: 10px 0 0 0;
  color: gray;
  display: inline;
}

.price {
  float: right;
  margin: 10px 0 0 0;
  color: gray;
  display: inline;
}

.icons {
  padding-left: 5px;
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  position: absolute;
  bottom: 4px;
}

td {
  border: 2px solid #80BBE5;
  padding: 5% 0;
  text-align: center;
}

td a {
  color:#80BBE5;
  text-decoration: none;
}
